%h1
  The nimble way
%h2
  The usecase
%p
  Editorial Illustrations have been and still are an essential part in paper-tech based publishing.
%p
  In the only world, only some blogs (eg 
  = link_to "A-List-Apart", 'http://www.alistapart.com/articles/summer-reading-issue/'
  ) have shown the online potential already.
%p
  Nimblepieces aims to become a hub were bloggers/writers and mobile artists can connect and establish mutual connections to collaborate on a writer/illustrator basis.  
%h2
  The mobile artist: A different way of working as an illustrator
%p
  Illustrators using their iPads or iPhones have shown that they can produce a great quality and range of styles 'on the go' and often within a short time frame.
%p
  Many also already have a vast body of work that could be offered as embeddable artwork for free in return for a link back to the illustrator's portfolio. Thus portfolios would distribute itself througout the web.
%p
  Bloggers/Writers can also propose a caption/story to each portfolio-piece, which again would point to their work. That way mutual writer/illustrator connections will be aided.
%h2
  How it might start to actually work
%p
  The number of artists living on nimblepiec.es is constrained.
%p
  The number of Bloggers isn't.
%p
  If you want to use a portfolio piece on your blog, the artist will have to grant permission (once).
%p
  Basic portfolio-artwork can be embedded free of charge.
%p
  Specificly created artwork would have an exclusive-embedd-state.
%p
  Nowhere-yet embedded existing artwork can become exlusive.
%p
  Each portfolio starts with a max 10 pieces. For each piece that gets used or specificly created, you get another slot.
