<div class="center hero-unit">
  <h1>
    Would you like a  
    <%= link_to "nimble", about_path %>
    piece?
  </h1>

  <h2>
    It's about time you showed up.
  </h2>

  <%#= link_to "Sign up now!", '#', :class => "btn btn-large btn-primary" %>
</div>
