.center.hero-unit
  %h1
    Editorial Blog Illustrations,  
    = link_to "to go.", about_path
  %h2
    Editorial Illustration, the: Used to support an editorial article in a publication (newspapers, magazines, blog, etc)
  %p
    = link_to "Sign up now as a Blogger!", signup_path, :class => "btn btn-large"
    = link_to "Apply as an illustrator!", signup_path, :class => "btn btn-large"