---
layout: "web"
---

.content-element.resizable
  h1
    | The state of The Nimble

  p In the first Issue of this mag, I declared this to be an experiment for me. As always, things take longer than anticipated, and I thought I'd share with you now&here, for what is planned for the future.
  
  .full-column
    == partial '/getapp'
