---
layout: "web"
---

.content-element.resizable
  h1
    | The Art Of: Mike Miller aka mikedia
  .full-column
    p
      | Sometimes you have to force yourself into a rhythm to get things done, and to improve your work.  Mike Miller has done exactly that: he painted a piece of artwork each day, for 12 months.
  .full-column
    == partial '/getapp'
