---
layout: "web"
---

.content-element.resizable
  h1
    | Collaborative Fingerpainting
    
  p Being an artist doesn't mean you have to battle it out all by yourself, sitting in your chamber, all lonely and stuff. Being connected 24/7 mobile devices have given fingerpainters the possibility to connect with others and create together. 

  .full-column
    == partial '/getapp'

