@import "bourbon"
@import "neat/neat"

$c-base: #fff
$c-spot: #000
$base-gap: 10px
$nav-height: 34px


  
=middlefy
  display: -webkit-box
  -webkit-box-orient: horizontal
  -webkit-box-pack: center
  -webkit-box-align: center
  display: -moz-box
  -moz-box-orient: horizontal
  -moz-box-pack: center
  -moz-box-align: center
  display: box
  box-orient: horizontal
  box-pack: center
  box-align: center


// generic definitions

body
  -webkit-touch-callout: none
  -webkit-user-select: none
  user-select: none
  background: #fff url(../images/main-bg.png) fixed top left
  +background-size(100%)
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    background: #fff url(../images/main-bg-landscape.png) fixed top left

a:visited, a:link, a:hover
  color: $c-spot

img
  &.full
    width: 768px
    opacity: 1
    #logo-title &
      border-bottom: 0px solid $c-spot
      @media only screen and (max-device-width: 1024px) and (orientation:landscape)
        margin-top: -90px
    @media only screen and (max-device-width: 1024px) and (orientation:landscape)
      width: 1024px
      margin-top: 0px
    @media only screen and (max-device-width: 480px) and (orientation:landscape)
      display: none
    @media only screen and (max-device-width: 320px) and (orientation:portrait)
      width: 320px
      margin-top: 0px
    + .caption
      @media only screen and (max-device-width: 480px) and (orientation:landscape)
        display: nonevideo
  margin-bottom: $base-gap
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    height: auto
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    height: auto


// Overthrow CSS: Enable overflow: auto on elements with overthrow class when html element has overthrow class too

.overthrow-enabled .overthrow
  overflow: auto
  -webkit-overflow-scrolling: touch

.overthrow-enabled #content-scrollable
  height: 990px
  @media only screen and (device-aspect-ratio: 3/4) and (orientation:landscape)
    height: 734px
  @media only screen and (device-aspect-ratio: 2/3) and (orientation:landscape)
    height: 320px
  @media only screen and (device-aspect-ratio: 2/3) and (orientation:portrait)
    height: 480px
  @media screen and (device-aspect-ratio: 40/71) and (orientation:portrait)
    height: 568px
  @media screen and (device-aspect-ratio: 40/71) and (orientation:landscape)
    height: 320px

// the index overlay

body#bare
  width: auto
  background: rgba(0,0,0,0.8)
  padding: 0
  height: 1004px
  margin: 0
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    max-height: 724px
    width: 100%
  ul#content
    width: 100%
    background: rgba(0,0,0,0)
    padding: $base-gap*8 0 0
    margin-left: 0
    box-shadow: -2px 2px 5px rgba(0,0,0,0)
    border-left: 1px solid rgba(255,255,255,0)
    border-top: 1px solid rgba(255,255,255,0)
    border-bottom: 1px solid rgba(155,155,155,0.1)
    border-radius: 5px 0px 0px 5px
    height: 990px
    @media only screen and (max-device-width: 1024px) and (orientation:landscape)
      height: 734px
    @media only screen and (max-device-width: 480px) and (orientation:landscape)
      height: 320px
    @media only screen and (max-device-width: 320px) and (orientation:portrait)
      height: 480px
    li
      padding: $base-gap $base-gap *2
      list-style-type: none
      border-bottom: 1px solid #000
      border-top: 1px solid rgba(155,155,155,0.1)
      text-align: center
      &.issue
        color: lighten($c-spot, 50%)
        h3 a
          text-decoration: none
          color: lighten($c-spot, 50%)
          display: block
          margin: $base-gap 0
      a
        text-decoration: none
        p
          font-size: 0.8em
          margin: $base-gap/2 0
          color: #ddd
        h4
          color: #fff!important
          text-decoration: none
          margin: $base-gap/2 0
          font-size: 1.5em
  

#teaser
  text-align: center
  img
    width: auto

body#dressed
  font-family: 'Bree Serif', serif
  margin-top: 0
  ul#content 
    li.issue
      display: none
    li p
      font-size: 1em
      margin-top: $base-gap / 2



body#title
  width: auto
  padding: 0
  height: 1004px
  margin: 0
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    height: 714px
body.fixed-poster
  background: #fff url(../images/story/main.jpg) fixed center top no-repeat
  background-size: 712px auto
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    background-size: 892px auto
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    background-size: 436px auto
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    background-size: 290px auto



.caption
  font-size: 0.7em
  color: $c-spot
  padding: 0 $base-gap
  color: lighten($c-spot, 10%)
  &#disclaimer
    padding-top: 10px
    padding-left: 30px
    padding-bottom: 30px
    background: #fff
    margin-bottom: 0



.content-element
  &.intro
    position: relative
    top: 5px
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    &.intro
      height: auto
  img
    width: 95%
  a
    border-color: $c-spot!important
    color: $c-spot
  .story &
    box-shadow: #666 0px 0px 5px inset
    .full-column
      &.full-peek
        margin-bottom: 20px
      &.first
        margin-top: 30px
        box-shadow: #666 2px 0px 5px
      &.last
        margin-bottom: 500px
        box-shadow: #666 2px 0px 5px
    .full-column, .medium-column
      background: #fff
      > *
        padding: 0 20px
    .large-column
      background: #eee
      > *
        padding: 0 20px


.full-artwork
  +middlefy
  text-align: center
  background: #222
  min-height: 1000px
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    min-height: 744px
  img
    box-shadow: #000 0px 0px 3px
    max-height: 70%
    max-width: 90%
  p
    position: absolute
    bottom: 20px
    left: 0
    width: 100%
    text-align: center
  &.piece-001
    background: transparent url(../images/howto/piece-001.jpg) top left no-repeat
.title
  border: 10px solid #fff
  min-height: 1004px
  background: transparent url(../images/001-title.jpg) top left no-repeat
  background-size: cover
  text-align: center
  position: relative
  @media only screen and (max-device-width: 1024px) and (orientation:landscape)
    background-size: cover
    min-height: 748px
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    background-size: 480px 631px
    .overlay
      display: none
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    background-size: 320px 421px
    .overlay
      display: none
  .overlay
    position: absolute
    top: 0
    left: 0
    min-height: 1004px
    width: 100%
    background: transparent url(../images/001-title-overlay.png) top left no-repeat
    background-size: cover
    z-index: 999
    opacity: 0.95
    @media only screen and (max-device-width: 1024px) and (orientation:landscape)
      display: none
  h1
    color: #111
    text-shadow: 0px 0px 50px #fff
    font-size: 5em
    line-height: 1.2em
    text-transform: lowercase
    position: relative
    z-index: 10
    text-indent: -9999px
    background-image: url('../images/logo-inverted.png')
    background-repeat: no-repeat
    background-position: 150px 0px
    text-align: center
    @media only screen and (max-device-width: 1024px) and (orientation:landscape)
      background-position: 250px 0px
  h2
    +inline-block
    padding-top: 100px
    padding-bottom: 10px
    font-size: 1em
    font-family: OpenSans, sans-serif
    position: relative
    z-index: 1000
    color: $c-spot
    text-shadow: 0px 0px 10px #fff
    a
      background: $c-spot
      color: #fff!important
      line-height: 1em
      padding: 4px
      border-radius: 5px
      text-decoration: none
  p
    color: #666

  ul
    +inline-block
    padding: $base-gap * 3 100px
    color: #000
    li
      background: rgba(255,255,255,1)
      margin-top: $base-gap


img.title
  width: 100%
  min-height: auto


// image scroll hacks

#imgscroll-content
  margin-bottom: $base-gap
  border-bottom: 1px dotted darken($c-spot,50%)
  #imgscroll-legend
    display: none
    p
      background: #ccc
      border-radius: 6px 6px 0px 0px
      a
        color: #000
        font-weight: bold


    
// ISSUE SPECIFIC




