$visual-grid: false
$max-width: 1024px
$grid-columns: 12
$gutter: 2em
$font-base-size: 18px

$ipad: new-breakpoint(device-aspect-ratio 3/4)
$iphone: new-breakpoint(max-device-width 320px)
$iphone5: new-breakpoint(device-aspect-ratio 40/71)


body
  margin: 0
  padding: 0
  font-size: $font-base-size
  &.parallax-mobile
    overflow: hidden
  h1
    font-size: 3em
    margin: $font-base-size/2 0
  &.frame
    background: #1a1a1a
    *
      color: #666!important


// top navigation bar

nav
  background: $c-spot
  opacity: 1
  box-shadow: #000 0px 0px 5px
  color: $c-base
  width: 100%
  height: 30px
  margin: 0 auto
  z-index: 99999
  position: relative
  height: $nav-height
  text-align: center
  i
    color: #fff
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    display: none
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    display: none
  #link-back
    float: left
    text-decoration: none
  #link-forward
    float: right
    text-decoration: none
    +pad(0 60px 0 0)
  section
    padding: 5px 0


// info popovers are used for inline explanations

.popover
  box-shadow: rgba(0,0,0,0.5) 0px 0px 2px
  .arrow
    border-bottom-color: $c-spot
  .wrap
    background-color: $c-spot
    color: #fff
    border-color: $c-spot
    border-width: 1px
    font-family: Open Sans
    font-size: 0.9em
    line-height: 1.5em
    a
      color: #fff
.info-popover
  text-decoration: none
  color: #fff
  background: $c-spot
  border: none
  +inline-block
  padding: $base-gap/2 $base-gap
  border-radius: 3px
  box-shadow: rgba(0,0,0,0.5) 0px 0px 2px
  margin-top: -2px
  font-family: Open Sans
  font-weight: normal


section
  +shift(1)
  +row
  +pad(10px 0 20px 0)
  #content-title &
    +shift(0)
    ul
      padding: 0
      li h4
        font-size: 1.5em
        margin: 0.8em 0
  aside
    +span-columns(11)
  img
    width: 100%
    border: 1px solid #ccc

  
  &.slideshow
    +shift(1)
    padding: 0
    article
      +span-columns(11)
  
  &.full
    article
      +span-columns(11)

  &.half-aside
    article
      +span-columns(5)
    aside
      +span-columns(6)
      +omega
    +media($iphone)
      article
        +span-columns(11)
      aside
        +span-columns(11)
        +omega

  &.small-aside
    h1
      +shift(2)
    article
      +span-columns(8)
      +omega
      +media($iphone)
        +span-columns(10)
        +shift(0)
        +omega
    aside
      +span-columns(2)
      img
        width: 100%
      &.app-icon img
        border: none
      +media($iphone)
        +span-columns(11)
        +shift(0)
        +omega
        &.app-icon
          width: 25%
      &.footnote
        +shift(2)
        +span-columns(10)
        border-bottom: 1px solid #ccc

  &.parallaxed
    +span-columns(12)
    +shift(0)
    +omega
    position: relative
    box-shadow: 0 0 3px 1px hsla(0, 0%, 0%, 0.85)
    border-top: 50px solid #000
    border-bottom: 50px solid #000
    height: 500px // specific value, must relate to artwork
    +media($iphone)
      height: 280px
    .parallax-background, .parallax-foreground, .parallax-cu, .parallax-midground
      width: 8400px
      height: 400px
      position: absolute
      background-size: contain
      top: 0px
      left: -200px
      +media($iphone)
        height: 200px
    .parallax-background
      background: url(../images/parallax/bg.jpg) top left
    .parallax-foreground
      background: url(../images/parallax/fg.png) top left
      width: 16000px
    .parallax-midground
      background: url(../images/parallax/mg.png) top left
      width: 16000px
    .parallax-cu
      background: url(../images/parallax/cu.png) top left repeat-x
      opacity: 1
      width: 40000px
    #wrapper
      position: absolute
      top: 0
      bottom: 0
      left: 0
      width: 100%
    #scroller
      height: 400px
      width: 15000px
      +media($iphone)
        height: 200px
    audio
      opacity: none
      
  h1
    +omega
    +span-columns(12)
    +media($iphone)
      +shift(0)
      font-size: 2.5em
  h2
    margin-bottom: $base-gap
  aside.footnote
    +span-columns(11)
    font-size: 0.7em
      

#html5-video
  width: 100%
  height: 470px 
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    height: 240px
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    height: 240px


// title


@-webkit-keyframes logoTitle
  0%
    -webkit-filter: opacity(0)
  50%
    -webkit-filter: opacity(0.2)
  100%
    -webkit-filter: opacity(1)

@-webkit-keyframes logoTitleLogo
  0%
    -webkit-filter: grayscale(1) brightness(0.7) blur(20px) saturate(9)
    +transform(translate3d(0,-30px,-1000px))
  80%
    -webkit-filter: grayscale(0.2) brightness(0) blur(0px) saturate(0.2)
    +transform(translate3d(0,0,0))
  100%
    opacity: 0.9



#logo-title
  background: #202221 url(../images/title/title.jpg) bottom right
  padding: 0
  margin: 0
  height: 343px
  width: 100%
  box-shadow: 1px 0px 3px #999
  border-bottom: 1px solid #000
  @media only screen and (max-device-width: 480px) and (orientation:landscape)
    display: none
  @media only screen and (max-device-width: 320px) and (orientation:portrait)
    width: 320px
    margin-top: 0px
    height: 116px
    +background-size(100%)
  #logo
    position: absolute
    top: 150px
    left: 175px
    z-index: 1001
    text-align: center
    margin-bottom: -80px
    #nimble
      font-size: 8em
      line-height: 0.3em
      color: #fff
      z-index: 10000
    color: #FFFFFF
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)
    @media only screen and (max-device-width: 320px) and (orientation:portrait)
      left: 90px
      top: 40px
      #nimble
        font-size: 4em
      #the
        font-size: 1.5em
    #the
      color: #eaeaea
      font-size: 3em
      position: absolute
      top: -30px
      left: 120px
      z-index: 999

#content-title
  padding-bottom: 50px
  padding-top: 30px
  text-align: center
  .overthrow-enabled &
    @media only screen and (device-aspect-ratio: 3/4) and (orientation:landscape)
      height: 391px
    @media only screen and (device-aspect-ratio: 3/4) and (orientation:portrait)
      height: 646px
    @media only screen and (device-aspect-ratio: 2/3) and (orientation:landscape)
      height: 320px
    @media only screen and (device-aspect-ratio: 2/3) and (orientation:portrait)
      height: 364px
    @media screen and (device-aspect-ratio: 40/71) and (orientation:landscape)
      height: 408px
    @media screen and (device-aspect-ratio: 40/71) and (orientation:portrait)
      height: 452px

  li
    width: 50%
    margin: 0 auto
    list-style-type: none
    border-bottom: 1px solid lighten($c-spot, 90%)
    padding-top: $base-gap
    &:nth-child(2)
      border-top: 0px solid lighten($c-spot, 90%)
    a
      text-decoration: none


.intro
  font-size: 0.9em
  font-style: italic
  color: #666
  paddingtop: 0
  