---
layout: "web"
---

.content-element.resizable
  h1
    | The Exquisite Prometheus
    
  p
    | In this short essay 
    a href="http://www.johnbavaro.com?referrer=Baker"
      | John Bavaro
    |  writes about how a collaboration for a museum show turned into a breakout session for him.
  
  p
    | I’ve always thought that the word, “collaboration” was not really professional. It seems as though it’s one of those concepts that works in theory but not in practice. In the past, I’ve engaged in collaborative gestures that were always not quite what I was after. It seems as though the idea is there but when people work together, they have a problem synthesizing an idea. What happens is that the idea gets watered down and people, very good artists, get wishy washy results.
  .full-column
    == partial '/getapp'
