---
layout: "web"
---

.content-element.resizable
  h1
    | Teach?
  p
    | by Susan Murtaugh
  p
    | Teach? Had you asked me if I would ever consider being a teacher ten years ago I would have laughed in your face. Not because I dislike teachers, quite the contrary, I had a few …
  
  .full-column
    == partial '/getapp'
