---
layout: "web"
---

.content-element.resizable
  h1
    | I hate digital. 
  .full-column

    p I really do.
    p “Oh, no, I do like digital, but you know, eventually I want to use real paint again, you know” - it's statements like these or similar ones I get a lot. And it drives me crazy.

  .full-column
    == partial '/getapp'

