---
layout: "web"
---


.content-element.resizable
  h1
    | This way.
  .full-column
    p
      strong
        | "It is an experiment, ma." 
      br
      | I think that's the apt way to label something you have never done before. I always wanted to do more illustrational work, and after blogging for over three year on 
      == link_to 'fingerpainted.it', 'http://fingerpainted.it?referrer=Baker'
      | , a magazine seems like the logical step for me…
  .full-column
    == partial '/getapp'
