---
layout: "web"
---


.content-element.resizable
  h1
    | The quality of emptiness.
  .full-column
    p
      strong
        | See. I just had to show you.
    p
      | Now that was that. If something goes (or deliberately gets) missing, it creates a void to fill. Either for the creative or for the observer. 
  .full-column
    == partial '/getapp'
