- content_for(:link_back, "001-opener.html")
- content_for(:link_forward, "001-gear.html")


<video id="html5-video" width="100%" height="574px" poster="images/video.jpg" controls>
  source src="videos/nimble02.m4v" type="video/mp4"
</video>
.content-element.resizable
  .full-column
    h3
      | Got 15 mins? The chromatic technique

  .medium-column.float-left
    p
      | In this concept sketch it's all about how to focus on the tonal values of your piece, starting with a greyscale pallette, and how to turn the painting 
  .medium-column.float-right
    p
      | into a mono- or multi-chromatic piece easily.
      br
      | Apps used: 
      == link_to 'procreate','http://procreate.si?referrer=Baker'
      | .
  .full-column
    p
      | Got something to show based on this technique? Add it to The Nimble flickr pool (moderated): 
      br
      == link_to 'http://www.flickr.com/groups/the-nimble-magazine', 'http://www.flickr.com/groups/the-nimble-magazine?referrer=Baker'
script src="javascripts/imgscroll.js" type="text/javascript"
