- content_for(:nav, "on")
- content_for(:link_back, "001-content.html")
- content_for(:link_forward, "001-portrait.html")

.content-element.resizable
	.medium-column.float-left
		h1
			| This way.
		p
			strong
				| "It is an experiment, ma." 
			br
			| I think that's the apt way to label something you have never done before. I always wanted to do more illustrational work, and after blogging for over three year on 
			== link_to 'fingerpainted.it', 'http://fingerpainted.it?referrer=Baker'
			| , a magazine seems like the logical step for me. With The Nimble Mag I will try and embrace the three key elements in this new area of art: mobility, data-driven collaboration and sharing. The first three issues will be free. After that I will see whether I am able to sustain it all and also consider switching to paid subscription.
		p
			| The mobile devices we wear now all day are equipping us with tools to create, wherever we are. We work together with other artists via websites like flickr, services like dropbox or even in realtime using apps like SketchShare. Most of all we are able to share our process to others in new ways, using webcasts or replayed and recorded paintings. 
		p
			| But what's crucial to me, is that we learn to create using moving electrons instead of static atoms. 
			strong
				| Flowing data instead of stuff. 
			| As an artist, the ability to dip your finger into data, that moves through the net, opens up a bucketload of new possibilities.
		p
			| So here I am with the first issue of Nimble.  It is aiming at people who love art, either taking it in, or creating it themselves.  I hope you enjoy it.
	.medium-column.float-right
		img src="images/editorial/editorial.jpg" 
		p.caption
			| Paper, iPad mini, 2012
