- content_for(:nav, "on")
- content_for(:link_back, "content.html")
- content_for(:link_forward, "portrait.html")


- content_for(:head) do
  == stylesheet_link_tag 'less/main-16px.css', 'laker/styles.css'

.content-element.resizable
  .full-column
    h1
      | The quality of emptiness.
    img id="emptiness-visual" src="images/editorial/ferris.jpg"

.content-element.resizable
  .medium-column.float-left
    p
      strong
        | See. I just had to show you.
    p
      | Now that was that. If something goes (or deliberately gets) missing, it creates a void to fill. Either for the creative or for the observer. 
    p
      | In this issue, us-based Mike Miller 
      a href="portrait.html"
        | is telling us 
      | how filling a void can stir up your creative juices.
    p
      | The Nimble Mag itself is actually a field of voids as of now. I am still experimenting with content and formats. One thing I wanted to have from the beginning is short stories. This issue sees the first installment of the 
      a href="story.html"
        | Image-Indpired-Imagination
      | , imagined by Dirk Bathen. 
    p
      | Viel Spaß beim Lesen.
  .medium-column.float-right
    p.caption
      | "Where is the chihuaha?" -- Brushes 3, iPad mini, 2012
