<footer class="footer">
  <small>
    <%= link_to "Nimblepieces", root_path %>
    by Benjamin Rabe
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>